
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 20px;
  
}
.whiteColor{
  color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: #333;
}

header {
  background-color: rgb(5, 5, 97);
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  
}
.picture{


  display: flex;
 
 position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 856px;
  background-size: cover;
  background-position: center;
  z-index: -1; 
  opacity: 0.4;
}